name: "Predbat"
slug: "predbat"
version: "1.3.2"
description: "Home Battery Prediction and Control"
url: "https://github.com/springfall2008/predbat_addon"
codenotary: "tdlj@tdlj.net"
ingress: true
ingress_port: 5052
ingress_root: "/"
ports:
  "8199/tcp": 8199
arch:
  - aarch64
  - amd64
  - armv7
  - armv8
init: false
homeassistant_api: true
hassio_api: true
hassio_role: admin
auth_api: true
map:
  - addon_config:rw
  - homeassistant_config:rw
  - media:rw
  - share:rw
  - ssl
image: "nipar4/predbat_addon:1.3.2"
startup: "services"
boot: "auto"
options:
  dummy: []
schema:
  log_level: "list(trace|debug|info|notice|warning|error|fatal)?"
  dummy:
    - str
