---
name: Predbat
version: 1.5.42
slug: predbat
description: Home Battery Prediction and Control
url: https://github.com/nipar4/predbat_addon
#image: docker.io/nipar44/predbat_addon:{arch}-1.3.2
ingress: True
ingress_port: 5052
ingress_root: "/"
panel_icon: mdi:bat
ports:
  8199/tcp: 8199
arch:
  - aarch64
  - amd64
init: false
homeassistant_api: true
hassio_api: true
hassio_role: admin
auth_api: true
map:
  - addon_config:rw
#  - data:rw
options:
  dummy: []
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  dummy:
    - str
